


.grid-container {
        
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(40, 18, 167);
    padding: 5px;
    height: 100%;
  }
  .grid-item1{
  
      background-color: royalblue;
      display: grid;
  }
  .grid-item{
  
  background-color: lightgrey;
  display: grid;
  }
  h1, h3{
      color: white;
      font-weight: bolder;
      margin-top: 25%;
  }
  span{
      color: black;
      font-weight: bolder;
  }
  p{
      color: white;
      
  }
  li{
      color: white;
      
  }
  .bdy{
      margin-left: 20%;
  }
  .dd{
      margin-left: 25%;
      margin-top: 10%;
  }
  #pp{
      color: black;
  }
  #show{
      color: black;
      font-size: xx-large;
  }
  #show1,#show3{
      color: black;
      font-size: medium;
  }
  #show2{
      color: black;
      font-size: xx-large;
  }
  #tt{
      margin-left: 20%;
      margin-top: 20%;
  }



  body{
    box-sizing: border-box;
    background-color: rgb(103, 44, 158);
   
}
.search-box{
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px;
    margin: 60px;
    width: 200px;
    color: white;
    background-color: rgba(194, 121, 204, 0.5);
    border-radius: 10px 0px;
    
}
.app-wrap{
    color: white;
    text-align: center;
    
}
.city{
    font-size: 40px;
}
.date{
    margin-bottom: 20px;
    font-size: 20px;
}
.temp{
    font-size: 70px;
    margin-bottom: 20px;
    
}
.weather{
    font-size: 30px;
    margin-bottom: 10px;
    font-style: italic;
}
.hi-low{
    font-size: 30px;
}

     
    